.contact {
  height: 100vh;
  background-image: url(../IMG/me-contact.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.contact-title {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-insta-title {
  color: #fff;
  font-family: "Impact Label";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-insta-account {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-email-title {
  color: #fff;
  font-family: "Impact Label";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-email-name {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
