.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-texte {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  transition: transform 0.2s;
  margin-top: 15px;
}
.nav-texte:hover {
  transform: scale(1.2);
}
.nav-logo {
  margin-top: 15px;
  transition: transform 0.2s;
}
.nav-logo:hover {
  transform: scale(1.2);
}
.dark .nav-texte {
  color: white;
}
.nav-texte:hover {
  color: rgb(255, 0, 149);
}
