.photography-description {
  display: flex;
  align-items: center;
  gap: 320px;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Impact Label Reversed";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.photography-description-2 {
  display: flex;
  align-items: center;
  gap: 360px;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Impact Label Reversed";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.photography-title-photo {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
