.portfolio-title {
  color: #fff;
  font-family: Koulen;
  font-size: 185px;
  font-style: normal;
  font-weight: 400;
}
.portfolio-of-elisa {
  color: #000;
  font-family: "Last Draft";
  font-size: 124px;
  font-style: normal;
  font-weight: 400;
}
.portfolio-nav-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  margin-top: 140px;
}
.portfolio-me {
  transition: transform 0.2s;
}
.portfolio-me:hover {
  transform: scale(1.2);
  transform: rotate(10deg);
}
