.texte-main {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 50px;
}

.text-title {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texte-sous {
  color: #040303;
  font-family: "Impact Label Reversed";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texte-photo {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
