.texte-main {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 50px;
}

.text-title {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: transform 0.2s;
  transition: color 0.2s 0.4s ease-in-out;
  margin-left: 50px;
  white-space: nowrap;
}
.text-title:hover {
  transform: scale(1.2);
  color: rgb(245, 120, 202);
}
.texte-photo {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texte-sous {
  color: #ffffff;
  font-family: "Impact Label Reversed";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
