* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background-color: #000;
  font-family: "Impact Label Reversed";
}

.titre_portfolio {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Last Draft";
  font-size: 258px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.of_elisa {
  color: #000;
  font-family: "Last Draft";
  font-size: 124px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.lien_pink {
  color: rgba(255, 114, 224, 0.95);
  text-align: center;
  font-family: "Impact Label Reversed";
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.lien_white {
  color: #fff;
  text-align: center;
  font-family: "Impact Label Reversed";
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  margin-top: 140px;
}

.year-text {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title-text {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-title {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 50px;
}
.title-photo {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pic {
  display: inline-flex;
  align-items: flex-start;
  gap: 25px;
}
.description {
  color: rgba(255, 255, 255, 0.95);
  font-family: "Impact Label Reversed";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 1020px;
  align-items: center;
  gap: 137px;
  flex-shrink: 0;
}
.description-2 {
  display: flex;
  width: 735px;
  align-items: center;
  gap: 193px;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Impact Label Reversed";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sous-texte {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title-illustration {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sous-title-illustration {
  color: #fff;
  font-family: "Impact Label Reversed";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.backgroung-illustration-1 {
  background: #111924;
  width: 1116px;
  height: 648px;
}
.backgroung-illustration-2 {
  width: 1116px;
  height: 648px;
  background: #6a4892;
}
.backgroung-illustration-3 {
  width: 1116px;
  height: 648px;
  background: #fdbe31;
}
