.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
}
.l-pink-rectangle {
  border-radius: 111px;
  background: rgba(255, 114, 224, 0.95);
  margin-top: 32px;
  margin-right: 42px;
  margin-left: 42px;
}
.l-small_background {
  background: #f26cd5;
  width: 1199px;
  height: 52px;
}
.l-backgroung {
  padding-bottom: 50px;
  border-radius: 111px;
  background: rgba(0, 0, 0, 0.95);
  width: 1310px;
  height: 730px;
}
.l-pink {
  background: #f26cd5;
  margin-top: 50px;
}
.l-me-small {
  position: absolute;
  left: 0;
  bottom: 0;
}
.l-backgroung-illustration-1 {
  background: #111924;
}
.l-backgroung-illustration-2 {
  background: #6a4892;
}
.l-backgroung-illustration-3 {
  background: #fdbe31;
}
