.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.pink-rectangle {
  border-radius: 111px;
  background: rgba(255, 114, 224, 0.95);
  margin-top: 32px;
  margin-right: 42px;
  margin-left: 42px;
}
.small_background {
  background: #f26cd5;
  width: 1199px;
  height: 52px;
}
